@import url(//db.onlinewebfonts.com/c/af7c07faaff0d16720c25db7990579e2?family=Star+Jedi);
@font-face {font-family: "Star Jedi";
 src: url("//db.onlinewebfonts.com/t/af7c07faaff0d16720c25db7990579e2.eot");
 src: url("//db.onlinewebfonts.com/t/af7c07faaff0d16720c25db7990579e2.eot?#iefix") format("embedded-opentype"),
 url("//db.onlinewebfonts.com/t/af7c07faaff0d16720c25db7990579e2.woff2") format("woff2"),
 url("//db.onlinewebfonts.com/t/af7c07faaff0d16720c25db7990579e2.woff") format("woff"),
 url("//db.onlinewebfonts.com/t/af7c07faaff0d16720c25db7990579e2.ttf") format("truetype"),
 url("//db.onlinewebfonts.com/t/af7c07faaff0d16720c25db7990579e2.svg#Star Jedi") format("svg"); 
 }
html {
    color: yellow;
}

h1{
    font-size: 250%;
    text-align: center;
    margin-bottom: 60px;margin-bottom: 60px;
    border: 0px;
    letter-spacing: 5px;
}

form{
	text-align : center;
}

#vaisseaux1{
	background-color: black;
	color : yellow;
	border-style : solid;
	border-color : yellow;	
}

#vaisseaux2{
	background-color: black;
	color :yellow;
	border-style : solid;
	border-color : yellow;
}

#reponse1{
	text-align: center;
 }
 
#validation{
	background-color: black;
	color: yellow;
	border-style : solid;
	border-color : yellow; 
 }
 
#reponse2{
	text-align : center;
 }
 
#taille{
	 text-align: center;
 }
 
#texte{
	 text-align: center;
 }

body {
	 background-image: url("../img/space.png");
 }
 