
html {
    color: #ffe80f;
}

h1{
    font-size: 250%;
    text-align: center;
    margin-bottom: 60px;margin-bottom: 60px;
    border: 0px;
    letter-spacing: 5px;
}

form{
	text-align : center;
}

body {
	 background-image: url("../img/space.png");
 }
 
#vaisseaux1{
	background-color: black;
	color : #ffe80f;
	border-style : solid;
	border-color : #ffe80f;	
}

#vaisseaux2{
	background-color: black;
	color :#ffe80f;
	border-style : solid;
	border-color : #ffe80f;
}

#reponse1{
	text-align: center;
 }
 
#validation{
	background-color: black;
	color: #ffe80f;
	border-style : solid;
	border-color : #ffe80f; 
 }
 
#reponse2{
	text-align : center;
 }
 
#taille{
	 text-align: center;
 }
 
#texte{
	 text-align: center;
 }


